# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage
/test-results
/playwright-report

# next.js
/.next
/out

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
pnpm-debug.log*

# env files
.env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# convex
/convex/_generated

# worktrees
/.worktrees

# graphify generated output
/graphify-out

# dist
/dist
